{% extends "admin/base_site.html" %}
{% load i18n config_tags %}
{% load static %}
{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/forms.css' %}"/>
    <style>
        #content > h1 {
            display: none;
        }
        #content-related {
            min-width: 250px;
        }
        #livesettings-values-column {
            margin-right: 1.5rem;
        }
        #livesettings-values-column h1 {
            text-align: center;
        }
        #livesettings-values-column label {
            display: inline-block;
            margin-bottom: 0.5rem;
        }
        #livesettings-values-column p.help {
            width: 250px;
            padding: 0;
            margin: 0 0 0.25rem;
        }
        #livesettings-values-column p.help:last-child {
            margin: 0;
        }
    </style>
{% endblock %}

{% block extrahead %}
    <script src="{% static "livesettings/js/string_array_widget.js" %}"></script>
{% endblock %}

{% block coltype %}colMS{% endblock %}
{% block bodyclass %}dashboard{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'satchmo_site_settings' %}">{{ site_header|default:_('Django administration') }}</a></h1>
{% if user.is_anonymous %}
  {% include "admin/color_theme_toggle.html" %}
{% endif %}
{% endblock %}

{% block userlinks %}<a href="{% url 'admin:index' %}doc/">{% trans 'Documentation' %}</a> /
    <a href="{% url 'admin:index' %}password_change/">{% trans 'Change password' %}</a> /
    <a href="{% url 'admin:index' %}logout/">{% trans 'Log out' %}</a>{% endblock %}

{% block breadcrumbs %}
    {% if not is_popup %}
        {% if has_multiple_groups %}
            <div class="breadcrumbs">
                <a href="{% url 'satchmo_site_settings' %}">{% trans "Settings" %}</a> &rsaquo;
                {{ settings_group.super_group.name }} &rsaquo;
                {{ settings_group.name }}
            </div>
        {% endif %}
    {% endif %}
{% endblock %}

{% block messages %}
    {% if messages %}
        <ul class="messagelist">{% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}</ul>
    {% endif %}
{% endblock messages %}

{% block content %}
    <div id="content-main" style="display: flex">
        {% if has_multiple_groups %}
            {% include "livesettings/groups_navbar.html" %}
        {% endif %}
        <div id="livesettings-values-column">
            {% if has_multiple_groups %}<h1>{{ title }}</h1>{% endif %}
            {% if form.errors %}
                <p class="errornote">
                    {% blocktrans count form.errors|length as counter %}Please correct the error below.{% plural %}Please
                        correct the errors below.{% endblocktrans %}
                </p>
            {% endif %}
            {% if form.fields %}
                <form method="post" enctype="multipart/form-data"> {% csrf_token %}
                    <div class="module">
                        <table summary="

                                {% filter capfirst %}{% blocktrans with group.name as name %}Settings included in {{ name }}.{% endblocktrans %}{% endfilter %}"
                               width="100%">
                            {% for field in form %}
                                {% if field.errors %}
                                    <tr class="error">
                                        <td colspan="2">{{ field.errors }}</td>
                                    </tr>
                                {% endif %}
                                <tr{% if field.errors %} class="error"{% endif %}>
                                    <td style="width: 50%;">
                                        {{ field.label_tag }}
                                        {% if field.help_text %}
                                            <p class="help">{{ field.help_text|break_at:40 }}</p>
                                        {% endif %}
                                        {% if field.field.default_text %}
                                            <p class="help">{{ field.field.default_text|break_at:40 }}</p>
                                        {% endif %}
                                    </td>
                                    <td>{{ field }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                    <input type="submit" value="Save" class="default"/>
                </form>
            {% else %}
                <p>{% trans "You don't have permission to edit values." %}</p>
            {% endif %}
        </div>
        {% if has_multiple_sites %}
            {% admin_site_views 'satchmo_site_settings' %}
        {% endif %}
    </div>
{% endblock %}
